[[extend 'sidebar_layout.html']]

<div class="section" id="vue-target" v-cloak>
  <div class="columns is-fullheight is-narrow-mobile">

    <!---Create Group Study Session-->
    <div class="column create_session">
      <h1 class="title has-text-weight-light is-mobile">Create Group Study Session</h1>
      <div class="find_session_inputs">
        <!-- '[add forms here]' -->
        [[=form]]
      </div>
    </div>
    

  </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
[[super]]
<script>
</script>
<script src="js/index.js"></script>
[[end]]
