[[extend 'sidebar_layout.html']]


<div class="section" id="vue-target" v-cloak>
    <div class="columns is-fullheight is-narrow-mobile">
        


        <div class="column" style="margin:0 auto;text-align:center">
          <!-- <iframe src="https://calendar.google.com/calendar/embed?height=600&wkst=1&bgcolor=%23ffffff&ctz=America%2FLos_Angeles&src=ZmVkMTAzMGU4YWFhOTk4NWUwMmE2MDgzNDg1ZjkwNWY3Yzg3OGY5MzkxYzY0MzA1YjNiYmQwZmUyNTY1MjQ4ZUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t&color=%234285F4" style="border:solid 1px #777" width="800" height="600"></iframe> -->
          <!-- <a href="http://www.google.com/calendar/render?
              action=TEMPLATE
              &text=[event-title]
              &dates=[start-custom format='Ymd\\THi00\\Z']/[end-custom format='Ymd\\THi00\\Z']
              &details=[description]
              &location=[location]
              &trp=false
              &sprop=
              &sprop=name:"
              target="_blank" rel="nofollow">Add to my calendar</a> -->
          <!-- <input>Add Calendar Link -->
        </div>
      </div>
</div>

[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
[[super]]
<script>
</script>
<script src="js/index.js"></script>
[[end]]
    
