[[extend 'sidebar_layout.html']]

<div class="section" id="vue-target" v-cloak>
  <div class="columns is-fullheight is-narrow-mobile">
    <div class="container is-flex is-mobile">
      <!-- title -->
      <div class="column is-three-fifths is-vcentered is-mobile">
        <div class="block">
          <div class="title has-text-weight-light is-mobile">
            Study Group Sessions Schedule
          </div>
        </div>
        <div class="is-flex">
          <div class="title is-5">{{month_name}} {{year}}</div>
          <a
            ><span class="icon is-middle" @click="prevCal(month, year)"
              ><i class="fa fa-angle-left"></i></span
          ></a>
          <a
            ><span class="icon is-middle" @click="nextCal(month, year)"
              ><i class="fa fa-angle-right"></i></span
          ></a>
        </div>

        <table class="table" cellpadding="0" cellspacing="0">
          <tr>
            <th colspan="7" class="month"></th>
          </tr>
          <tr>
            <th class="sun">Sun</th>
            <th class="mon">Mon</th>
            <th class="tue">Tue</th>
            <th class="wed">Wed</th>
            <th class="thu">Thu</th>
            <th class="fri">Fri</th>
            <th class="sat">Sat</th>
          </tr>
          <tr v-for="line in weeks1">
            <td
              class="is-clickable"
              v-for="cell in line"
              @click="getEvents(month, cell, year)"
            >
              <a color="is-link">{{cell}}</a>
            </td>
          </tr>
        </table>
      </div>
      <div class="column is-mobile" v-if="is_clicked">
        <div class="card">
          <span
            ><i class="fa fa-times is-pulled-right" @click="closeEvents"></i
          ></span>
          <div class="card-content">
            <header class="card-header">
              <div class="column">
                <p class="card-header-title">Schedule</p>
                <p class="card-header-title">
                  {{month_name}} {{date[0]}} {{year}}
                </p>
              </div>
            </header>
            <div class="card-content" v-for="s in upcoming_sessions">
              <div class="content">
                <ul>
                  <li>
                    <p class="has-background-success has-text-centered">
                      {{s.session_time}}
                    </p>
                    <p class="has-text-centered">{{s.session_name}}</p>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

[[block page_scripts]]
[[super]]
<!-- Loads the index-specific js for Vue -->
<script>
  let get_session_list_url = "[[=XML(get_session_list_url)]]";
  let calendar_url = "[[=XML(calendar_url)]]";
  let events_url = "[[=XML(events_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]
