[[extend 'sidebar_layout.html']]

<div class="section" id="vue-target" v-cloak>
  <div class="block">
    <h3 class="title has-text-weight-light">
      Find Study Sessions
    </h3>
  </div>

  <!--search-->
  <div class="block box">
    <div class="block field has-addons">
      <p class="control">
        <span class="select">
          <select v-model="selected_school">
            <option v-for="school in enrolled_schools"
              v-bind:value="school.id">
              {{school.name}}
            </option>
          </select>
        </span>
      </p>
      <p class="control has-icons-left">
        <input class="input"
          placeholder="keyword search"
          v-model="search_query" >
        <span class="icon is-left">
          <i class="fa fa-search"></i>
        </span>
      </p>
      <p class="control">
        <button class="button is-primary"
          @click="search_sessions" >
          Search
        </button>
      </p>
    </div>
    <div class="field">
      <button class="button"
        @click="toggle_filter">
        <span class="icon">
          <i class="fa fa-filter"></i>
        </span>
        <span>filters</span>
      </button>
    </div>
    <fieldset class="block columns" v-if="filters_on">
      <div class="column">
        <form-row label="class:">
          <search-choose
            search_url="[[=XML(get_courses_url)]]"
            :click="(x) => { let i = selected_courses.indexOf(x); if (i > -1) selected_courses.splice(i,1); else selected_courses.push(x)}"
            :display="(x) => x.name"
            :selected="selected_courses"
            results_name="r"
            editable
          >
          </search-choose>
        </form-row>
        <form-row label="status:">
          <div class="field">
            <p class="control">
              <label class="checkbox">
                <input type="checkbox" v-model="open_only">
                Only open sessions
              </label>
            </p>
          </div>
        </form-row>
        <form-row label="TAs:">
          <div class="field">
            <p class="control">
              <label class="checkbox">
                <input type="checkbox" v-model="ta_only">
                Only TA-led sessions
              </label>
            </p>
          </div>
        </form-row>
        <form-row label="location:">
          <div class="field">
            <p class="control">
              <input class="input" v-model="location_query">
            </p>
          </div>
        </form-row>
      </div>
      <div class="column">
        <form-row label="start after:">
          <div class="field has-addons">
            <p class="control">
              <input class="input" type="time"
                v-model="start_after" >
            </p>
            <p class="control">
              <button class="button"
                @click="clear_start_after" >
                <span class="icon">
                  <i class="fa fa-times"></i>
                </span>
              </button>
            </p>
          </div>
        </form-row>
        <form-row label="start before:">
          <div class="field has-addons">
            <p class="control">
              <input class="input" type="time"
                v-model="start_before" >
            </p>
            <p class="control">
              <button class="button"
                @click="clear_start_before" >
                <span class="icon">
                  <i class="fa fa-times"></i>
                </span>
              </button>
            </p>
          </div>
        </form-row>
        <form-row label="meeting days:">
          <div class="field">
            <p class="control">
              <span class="select is-multiple">
                <select multiple size="7" v-model="selected_days">
                  <option v-for="day in week_days"
                    v-bind:value="week_days.indexOf(day)">
                    {{day}}
                  </option>
                </select>
              </span>
            </p>
          </div>
        </form-row>
      </div>
    </fieldset>
  </div>

  <!--results-->
  <div class="block">
    <div v-if="session_results.length < 1"
      class="has-text-grey-lighter" >
      no results
    </div>
    <table class="table is-hoverable has-text-weight-light" v-else>
      <thead>
        <tr>
          <td></td>
          <td>session</td>
          <td>tags</td>
          <td>location</td>
          <td>time/length</td>
          <td>days</td>
          <td>dates</td>
        </tr>
      </thead>
      <tbody>
        <tr v-for="session in session_results" >
          <td>

            <!-- Render the button based on the is_enrolled property -->
              <p class="control">
                  <button :class="{'button': true, 'is-success': !getEnrollmentStatus(session.id), 'is-danger': getEnrollmentStatus(session.id), 'is-outlined': true}" @click="toggle_enroll(session)">
                    <span class="icon is-small">
                      <i :class="{'fa fa-check': !getEnrollmentStatus(session.id), 'fa fa-times': getEnrollmentStatus(session.id)}"></i>
                    </span>
                    <span>{{ getEnrollmentStatus(session.id) ? 'Un-enroll' : 'Enroll' }}</span>
                  </button>
              </p>
          </td>
          <td>
            <a v-bind:href="[[=URL()]]+'session/'+session.id">
              {{session.name}}
            </a>
            <span class="tag" v-if="session.open">open</span>
            <span class="tag" v-else>closed</span>
          </td>
          <td>
            <p class="tags">
              <span class="tag">
                {{session.course ? session.course : 'general'}}
              </span>
              <span class="tag">
                {{session.ta ? 'TA-led' : 'Student-led'}}
              </span>
            </p>
          </td>
          <td>
            <span class="tag">
              <input
                class="tag input is-static has-text-weight-light"
                readonly
                style="min-width:6rem;"
                v-bind:value="session.loc" >
            </span>
          </td>
          <td>
            <span class="tag">
              <input type="time"
                class="tag input is-static has-text-weight-light"
                readonly
                v-bind:value="session.time.slice(0,5)" >
            </span>
            <span class="tag">
              <span v-if="session.len>59">
                {{Math.floor(session.len/60)}}h
              </span>
              <span v-if="session.len%60">
                {{session.len%60}}m
              </span>
            </span>
          </td>
          <td>
            <p class="tags">
              <span class="tag"
                v-for="day in convert_days(session.days)" >
                {{day}}
              </span>
            </p>
          </td>
          <td>
            <span class="tag" v-if="session.start==session.end">
              <input type="date"
                class="tag input is-static has-text-weight-light"
                readonly
                v-bind:value="session.start" >
            </span>
            <span class="tag" v-else>
              <input type="date"
                class="tag input is-static has-text-weight-light"
                readonly
                v-bind:value="session.start" >
              <span class="tag">-</span>
              <input type="date"
                class="tag input is-static has-text-weight-light"
                readonly
                v-if="session.end"
                v-bind:value="session.end" >
              <span v-else>ongoing</span>
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>

[[block page_scripts]]
[[super]]
<script>
  let search_sessions_url = "[[=XML(search_sessions_url)]]";
  let get_enrolled_schools_url = "[[=XML(get_enrolled_schools_url)]]";
  let get_enrolled_sessions_url = "[[=XML(get_enrolled_sessions_url)]]";
  let remove_session_url = "[[=XML(remove_session_url)]]";
  let enroll_session_url = "[[=XML(enroll_session_url)]]";
</script>
<script src="js/form_row.js"></script>
<script src="js/comp/search_choose.js"></script>
<script src="js/find_session.js"></script>
[[end]]
