[[extend 'layout.html']]
<style>
  [v-cloak] {
       display: none;
  }
</style>


<div class="section" id="vue-target" v-cloak>
    <div class="columns is-fullheight is-narrow-mobile">
        
        <!--navigation-->
        <aside class="main-content column is-2 is-narrow-mobile is-fullheight is-mobile">
          <ul class="menu-list">
            <!--Home-->
            <li>
              <a href="[[=URL('index')]]" class="">
                <span class="icon"><i class="fa fa-home"></i></span> Home
              </a>
            </li>
            <!--Schedule-->
            <li>
              <a href="[[=URL('dashboard')]]" class="">
                <span class="icon"><i class="fa fa-calendar"></i></span> Schedule
              </a>
            </li>
            <!--Find a session-->
            <li>
              <a href="[[=URL('find_session')]]" class="">
                <span class="icon"><i class="fa fa-search"></i></span> Find Session
              </a>
            </li>
            <!--Create a session-->
            <li>
              <a href="[[=URL('create_session_results')]]" class="">
                <span class="icon"><i class="fa fa-calendar-plus-o"></i></span> Create Session
              </a>
            </li>
          </ul> 
        </aside>
        <!--------------->


        <div class="column create_session">
            <!-- title -->
            <div class="block">
            <div class="title has-text-weight-light is-mobile">[[=session["session_name"]]]</div>
            </div>
        
            <!-- info -->
            <div class="block">
              <div class="block">
                <div class="has-text-weight-bold">School</div>
                <div>[[=session["school"]]]</div>
              </div>
              <div class="block">
                <div class="has-text-weight-bold">Term</div>
                <div>[[=session["term"]]]</div>
              </div>
              <div class="block">
                <div class="has-text-weight-bold">Class</div>
                <div>[[=session["class_name"]]]</div>
              </div>
              <div class="block">
                <div class="has-text-weight-bold">Location</div>
                <div>[[=session["location"]]]</div>
              </div>
              <div class="block">
                <div class="has-text-weight-bold">Time</div>
                <div>[[=session["starttime"]]] - [[=session["endtime"]]]</div>
              </div>
              <div class="block">
                <div class="has-text-weight-bold">Description</div>
                <div>[[=session["description"]]]</div>
              </div>
            </div>

            <!-- comments display button-->
            <div class="block">
              <div v-if="comments_displayed">
                <div class="field">
                  <div class="control"><button class="button is-link" @click="disable_comments">Click to Hide Comments</button></div>
                </div>
              </div>
              <div v-else>
                <div class="field">
                  <div class="control"><button class="button" @click="get_comments([[=session['id']]])">Click to Show Comments</button></div>
                </div>
              </div>
            </div>

            <!-- comments -->
            <div class="block">
              <div v-if="comments_displayed">
                <!-- add new comment -->
                <div class="field">
                  <textarea class="textarea" placeholder="What's on your mind?" rows="2" v-model="new_comment"></textarea>
                </div>
                <div class="field">
                  <div class="control"><button class="button is-link" @click="add_comment([[=session['id']]])">Publish!</button></div>
                </div>

                <!-- display comments -->
                <div v-for="comment in comments">
                  <div class="box">
                    <div class="has-text-weight-bold">{{comment["first_name"]}} {{comment["last_name"]}}</div>
                    <div>{{comment["content"]}}</div>
                    <div>{{comment["time"]}}</div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let get_comments_url = "[[=XML(get_comments_url)]]";
  let add_comment_url = "[[=XML(add_comment_url)]]";
  let get_session_list_url = "[[=XML(get_session_list_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]