[[extend 'sidebar_layout.html']]

<div class="section" id="vue-target" v-cloak>
    <h3 class="title has-text-weight-light">
        My Sessions
    </h3>

<!--    results-->

    <div class="block">
        <table class="table is-hoverable has-text-weight-light">
      <thead>
        <tr>
          <td></td>
          <td>session</td>
          <td>tags</td>
          <td>location</td>
          <td>time/length</td>
          <td>days</td>
          <td>dates</td>
        </tr>
      </thead>
      <tbody>
      <tr v-for="sessionT in enrolled_sessions">
          <td>
              <p class="control">
                <button class="button is-danger" @click="removeSession(sessionT.id)">
                  <span>Un-Enroll</span>
                </button>
              </p>

          </td>

        <td>
            <span class="tag">
              <a :href=sessionT.info>{{ sessionT.name }}</a>
            </span>

        </td>
        <td>
            <p class="tags">
              <span class="tag">
                {{sessionT.course ? session.course : 'general'}}
              </span>
              <span class="tag">
                {{sessionT.ta ? 'TA-led' : 'Student-led'}}
              </span>
            </p>

        </td>
        <td>
            <span class="tag">
              <input
                class="tag input is-static has-text-weight-light"
                readonly
                style="min-width:6rem;"
                v-bind:value="sessionT.location" >
            </span>

        </td>
        <td>
            <span class="tag">
              <input type="time"
                class="tag input is-static has-text-weight-light"
                readonly
                v-bind:value="sessionT.time.slice(0,5)" >
            </span>
            <span class="tag">
              <span v-if="sessionT.len>59">
                {{Math.floor(sessionT.len/60)}}h
              </span>
              <span v-if="sessionT.len%60">
                {{sessionT.len%60}}m
              </span>
            </span>
        </td>
        <td><p class="tags">
              <span class="tag"
                v-for="day in convert_days(sessionT.days)" >
                {{day}}
              </span>
            </p></td>
        <td>
            <span class="tag" v-if="sessionT.start==sessionT.end">
              <input type="date"
                class="tag input is-static has-text-weight-light"
                readonly
                v-bind:value="sessionT.start" >
            </span>
            <span class="tag" v-else>
              <input type="date"
                class="tag input is-static has-text-weight-light"
                readonly
                v-bind:value="sessionT.start" >
              <span class="tag">-</span>
              <input type="date"
                class="tag input is-static has-text-weight-light"
                readonly
                v-if="sessionT.end"
                v-bind:value="sessionT.end" >
              <span v-else>ongoing</span>
            </span>
        </td>
      </tr>

      </tbody>
    </table>

    </div>

</div>

[[block page_scripts]]

<script>
  let get_enrolled_sessions_url = "[[=XML(get_enrolled_sessions_url)]]";
  let remove_session_url = "[[=XML(remove_session_url)]]";
</script>
<script src="js/find_sessions.js"></script>
<script src="js/my_sessions.js"></script>


[[super]]
[[end]]
