[[extend 'sidebar_layout.html']]

<div class="section" id="profile-app" v-cloak>
  <h3 class="title has-text-weight-light">My Page</h3>

  <fieldset class="section">
    <p class="subtitle has-text-weight-light">profile</p>
    <form-row label="name:" group :invalid="invalid_name">
      <p class="control is-expanded">
        <input class="input"
          placeholder="first name"
          :class="{'is-static':!editing}"
          :readonly="!editing"
          v-model.trim="first"
        >
      </p>
      <p class="control is-expanded">
        <input class="input"
          placeholder="last name"
          :class="{'is-static':!editing}"
          :readonly="!editing"
          v-model.trim="last"
        >
      </p>
    </form-row>
    <form-row label="about:">
      <p class="control is-expanded">
        <textarea class="textarea"
          placeholder="about me"
          :class="{'has-fixed-size':!editing}"
          :readonly="!editing"
          v-model.trim="desc"
        ></textarea>
      </p>
    </form-row>
    <form-row label="enrolled schools:" :invalid="invalid_schools">
      <search-choose
        search_url="[[=XML(fetch_schools_url)]]"
        results_name="schools"
        :click="click_school"
        :display="display_school"
        :selected="enrolled_schools"
        :editable="editing"
      ></search-choose>
    </form-row>
    <form-row label="enrolled classes:" :invalid="invalid_courses">
      <search-choose
        search_url="[[=XML(fetch_courses_url)]]"
        :click="click_course"
        :display="display_course"
        :selected="enrolled_courses"
        results_name="courses"
        :editable="editing"
      ></search-choose>
      <p v-show="!editing">
      </p>
    </form-row>
    <form-row label=" " right>
      <p class="control">
        <button class="button is-primary"
          @click="toggle_editing"
          :disabled="editing && invalid_form"
        >
          <span v-if="editing">save profile</span>
          <span v-else>edit profile</span>
        </button>
      </p>
    </form-row>
  </fieldset>

  <fieldset class="section">
    <p class="subtitle has-text-weight-light">account</p>
    <form-row label="email:">
      <p class="control is-expanded">
        <input class="input" disabled v-model="email">
      </p>
    </form-row>
    <form-row label="password:">
      <p class="control">
        <a class="button"
          href="[[=URL('auth', 'change_password')]]">
          Change Password
        </a>
      </p>
    </form-row>
  </fieldset>

</div>

[[block page_scripts]]
[[super]]
<script>
let fetch_schools_url = '[[=XML(fetch_schools_url)]]';
let fetch_courses_url = '[[=XML(fetch_courses_url)]]';
let enroll_school_url = '[[=XML(enroll_school_url)]]';
let enroll_course_url = '[[=XML(enroll_course_url)]]';
let fetch_profile_url = '[[=XML(fetch_profile_url)]]';
let write_profile_url = '[[=XML(write_profile_url)]]';
</script>
<script src="js/comp/form.js"></script>
<script src="js/comp/search_choose.js"></script>
<script src="js/profile.js"></script>
[[end]]
